---
import { Icon } from "astro-icon/components";
import { DEFAULT_ICON_NAME, DEFAULT_LINK, DEFAULT_BUTTON_LABEL } from "../../constants/DefaultValueConstants.ts";
import { DEFAULT_BUTTON_COLOR, DEFAULT_BUTTON_COLOR_ARG } from "../../constants/TailwindConstants.ts";

interface Props {
    iconName?: string;
    destination?: string;
    color?: string;
    text?: string;
    classes?: string;
}

const colorParser = (color: string) : string => {
    color = color.toLocaleLowerCase().trim();
    if (!color || color.length <= 0 || color === DEFAULT_BUTTON_COLOR_ARG) {
        return DEFAULT_BUTTON_COLOR;
    } else if (color === "primary") {
        return "btn-primary";
    } else if (color === "secondary") {
        return "btn-secondary";
    } else if (color === "accent") {
        return "btn-accent";
    } else if (color === "info") {
        return "btn-info";
    } else if (color === "success") {
        return "btn-success";
    } else if (color === "warning") {
        return "btn-warning";
    } else if (color === "error") {
        return "btn-error";
    }
    return DEFAULT_BUTTON_COLOR;
}

const { 
    iconName = DEFAULT_ICON_NAME,
    destination = DEFAULT_LINK,
    color = DEFAULT_BUTTON_COLOR_ARG,
    text = DEFAULT_BUTTON_LABEL,
    classes = "",
} = Astro.props;
---
<a href={destination}>
    <button class={`btn ${colorParser(color)} ${classes}`}>
        <Icon name={iconName} />
        {text}
    </button>
</a>