---
import type ButtonInfo from '../../classes/ButtonInfo.ts';
import { DEFAULT_LINK, DEFAULT_TITLE, DEFAULT_DESCRIPTION, DEFAULT_BUTTON_LABEL, DEFAULT_IMAGE_LINK, DEFAULT_ICON_NAME, HOME_ID } from '../../constants/DefaultValueConstants.ts';
import { HERO_CLASS } from '../../constants/TailwindConstants.ts';
import ButtonBase from '../Buttons/ButtonBase.astro';
import GetStartedButton from '../Buttons/GetStartedButton.astro';

interface Props {
    imageUrl?: string;
    title?: string;
    description?: string;
    buttons?: ButtonInfo[];
}

const { 
    imageUrl = DEFAULT_IMAGE_LINK,
    title = DEFAULT_TITLE,
    description = DEFAULT_DESCRIPTION,
    buttons = [],
} = Astro.props;
---

<div
  id={HOME_ID}
  class={"hero " + HERO_CLASS}
  style={"background-image: url(" + imageUrl + ");"}
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="w-full">
      <h1 class="mb-5 text-5xl font-bold">{title}</h1>
      <p class="mb-5">{description}</p>
      {buttons.map((button) => 
      <ButtonBase 
        iconName={button.iconName}
        destination={button.destination}
        color={button.color}
        text={button.text}
        classes={button.classes}
        isPostButton={button.isPostButton}
      />
      )}
    </div>
  </div>
</div>